@use 'src/assets/styles/constants';

$controllerBlockHeight: 80px;

.virtualized-list-runners {

}

.res-table-all-runners {
    display: flex;
    flex-direction: column;
    border: 1px solid constants.$black10;
    font-size: 14px;
    height: calc(100vh - #{$controllerBlockHeight} - #{constants.$headerHeight} - 20px);

}

.all-runners-controller-block {
    display: flex;
    height: $controllerBlockHeight;
    flex-direction: column;
}

.all-runners-arrow {
    text-align: center;
    height: 20px;
    width: 20px;
    background-color: #7C9EDF;
    cursor: pointer;
    margin: 2px;
}

.all-runners-cancel-search-button {
    text-align: center;
    height: 20px;
    width: 20px;
    background-color: #7C9EDF;
    cursor: pointer;
    margin: 2px 12px 2px 2px;
}

.table-row-all-runners {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 75px 140px 140px 130px 90px 130px 120px 100px 90px 90px ;
    row-gap: 1px;
    width: 100%;
}

.table-row-all-runners.listed .table-cell {
    background-color: lighten(constants.$rowSelection, 11);
}

.table-row-all-runners.selected .table-cell {
    background-color: constants.$rowSelection;
}

.fixed-part {
    position: fixed;
}

.story-cell {
    display: flex;
}

.story-cell-item {
    background-color: constants.$black10;
    border: 1px solid constants.$black30;
    margin-right: 1px;
    height: 16px;
    width: 16px;
    border-radius: 1px;
    position: relative;
}

.table-row-all-runners.selected .table-cell .story-cell-item {
    border-color: lighten(constants.$black80, 20);
}

.story-cell-item.visited {
    background-color: rgb(91, 239, 37);
    cursor: pointer;
}

.story-cell-item.visited:hover {
    background-color: darkgreen;
    cursor: pointer;
}

.cell-hint {
    display: none;
    position: absolute;
    z-index: 1;
    left: -10px;
    top: 20px;
    background-color: constants.$blue100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s linear;
    transition-delay: 0.1s;
}

.story-cell-item.visited:hover .cell-hint {
    display: flex;
    opacity: 1;
    visibility: visible;
    padding: 4px;
    text-wrap: nowrap;
}
.search-block {
    display: flex;
    flex-direction: row;
}

.search-input {
    width: 200px;
}

.all-runners-sort-selector {
    display: flex;
    margin-left: 10px;
}

.all-runners-sort-button {
    font-size: 12px;
    cursor: pointer;
    padding: 4px;
}

.all-runners-sort-button.selected {
    font-weight: 700;
    cursor: auto;

}
