@use 'src/assets/styles/constants';

$controllerBlockHeight: 80px;

.virtualized-list-runners {

}

.res-table-all-runners {
    display: flex;
    flex-direction: column;
    border: 1px solid constants.$black10;
    font-size: 14px;
    height: calc(100vh - #{$controllerBlockHeight} - #{constants.$headerHeight} - 20px);

}

.all-runners-controller-block {
    display: flex;
    height: $controllerBlockHeight;
}

.table-row-all-runners {
    display: grid;
    grid-template-columns: 300px 80px repeat(9, 1fr);
    row-gap: 1px;
}

.fixed-part {
    position: fixed;
}

.story-cell {
    display: flex;
}

.story-cell-item {
    background-color: constants.$black10;
    border: 1px solid constants.$black30;
    margin-right: 1px;
    height: 16px;
    width: 16px;
    border-radius: 1px;
}

.story-cell-item.visited {
    background-color: rgb(91, 239, 37);
}

.all-runners-controller-block {
    display: flex;
    height: 20px;
}

.search-block {

}

.search-input {
    width: 200px;
}