@use '../../assets/styles/constants';

.comm-post-button {
  background-color: #7C9EDF;
}

.page-dev-info {
  position: relative;
  margin-bottom: 24px;
  line-height: 1.3;

  p + p {
    margin-top: 8px;
  }
}

.comm-input {
  width: 100%;
  height: 60px;
  border: 1px solid #D0D5DD;
  border-radius: 4px;
  padding: 7px 24px 7px 8px;
  outline: none;
  transition: all 0.1s ease-in-out;
  resize: none;
  background-color: constants.$black5;

}



.send-feedback-button {
    color: #fff;
    background-color: #3165C9;
    padding: 8px 12px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 2px 22px 2px rgba(49, 101, 201, 0.25);
    transition: all 0.2s ease-in-out;
    margin-top: 4px;
}

.telegram-grid {
  display: grid;
  grid-template-columns: 1fr;

}

.mark-sent {
  color: #2ACC02;
}

.close-button {
  position: absolute;
  top: 0;
  right: -10px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}
