@use 'src/assets/styles/constants';

.dns-label {
    display: flex;
    border-radius: 4px;
    background-color: constants.$black10;
    width: 26px;
    justify-content: center;
    margin-left: 4px;
    font-size: 10px;
}
