.all-races-table {
   display: grid;
   grid-template-columns: 30fr 15fr 120px 20fr;
   gap: 2px;

}

.year-divider {
    display: flex;
    grid-column: 1 / 5;
    background-color: #EAECF0;
    margin-top: 40px;
    height: 50px;
    padding-left: 10px;
    padding-top: 10px;
}

.all-races-cell {
    height: 60px;
    display: flex;
    flex-direction: column;
    background-color: #EAECF0;
    padding: 8px 12px;
    align-items: center;
}

.caption-cell {
    display: flex;
    flex-direction: row;
}

.race-caption {
    width: 150px;
}

.magnet-image {
    height: 48px;
    width: 48px;
    margin-right: 10px;

}

.distances-cell {
    display: flex;
    flex-direction: row;
}

.distance-link {
    text-decoration: none;
}