@use 'src/assets/styles/constants';

.page-all-races {
    padding-bottom: 80px;
}

.all-races-cell {
    height: 50px;
    display: flex;
    flex-direction: column;
    background-color: constants.$black10;
    padding: 8px 12px;
    align-items: center;
}

.distances-cell {
    display: flex;
    flex-direction: row;
    padding: 8px 4px;

    @include constants.mediaMobile {
        display: none;
    }

}

.distance-link {
    text-decoration: none;
    color: constants.$blue400;
}

.cnt-span {
    font-weight: 500;
}

.cnt-span.lite {
    color: constants.$lightGreen500;
}

.cnt-span.tourist {
    color: constants.$blue400;
}

.cnt-span.ultra {
    color: constants.$red500;
}

.cnt-span.real {
    color: constants.$black100;
}

.all-races-grid {
    display: grid;
    grid-template-columns: 450px 200px 1fr;
    row-gap: 2px;

    @include constants.mediaMobile {
        grid-template-columns: 1fr;
    }

}

.year-divider-cell {
    display: flex;
    align-items: center;
    background-color: constants.$blue100;
    margin-top: 40px;
    padding: 4px;
    justify-items: center;
}

.year-divider-cell.caption {
    font-size: 22px;
}

.year-divider-cell.caption2 {
    @include constants.mediaMobile {
        display: none;
    }
}

.all-races-distances-cell {
    background-color: constants.$black10;
    display: flex;
    align-items: center;

    @include constants.mediaMobile {
        display: none;
    }


}

.caption-cell {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
}

.race-caption {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

.race-info {
    margin-left: 10px;
    font-size: 14px;
    align-self: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.magnet-image {
    height: 48px;
    width: 48px;
    margin-right: 10px;

}