.rb-header {

}

.rb-header-caption {
    font-size: 32px;
    font-weight: 700;
}
.rb-header-ddate-loc {
    font-size: 16px;
    color: #808DA3;
}

.rb-body {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.rb-text-field {

}
