.course-sticker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;

    margin: 2px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 4px;
}

.course-sticker.lite {
    background-color: #2ACC02;
    color: #FFFFFF;
}

.course-sticker.tourist {
    background-color: #3165C9;
    color: #FFFFFF;
}

.course-sticker.ultra {
    background-color: #AE3633;
    color: #FFFFFF;
}

.course-sticker.real {
    background-color: #151515;
    color: #FFFFFF;
}

.course-sticker-label {
    line-height: 6px;
}
