@use 'src/assets/styles/constants';

.course-sticker {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin: 2px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 4px;
}

.course-sticker.easy {
    background-color: constants.$easyGreen;
    color: #FFFFFF;
}

.course-sticker.lite {
    background-color: constants.$lightGreen500;
    color: #FFFFFF;
}

.course-sticker.tourist {
    background-color: constants.$blue400;
    color: #FFFFFF;
}

.course-sticker.ultra {
    background-color: constants.$red500;
    color: #FFFFFF;
}

.course-sticker.real {
    background-color: constants.$black100;
    color: #FFFFFF;
}

.course-sticker-label {
    line-height: 6px;
}
