@use 'src/assets/styles/constants';

.rules-back-link {
  display: block;
  margin-bottom: 12px;
  text-decoration: none;
  color: constants.$blue400;

}

.loading-backscreen {
  position: fixed;
  left: 0;
  top: constants.$headerHeight;
  bottom: 0;
  right:  0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(#ffffff, 0.7);
  z-index: 1000;
}
