@use '../../assets/styles/constants';

.header {
    display: grid;
    grid-template-columns: 300px auto;
    align-items: center;
    position: fixed;
    height: constants.$headerHeight;
    width: 100%;
    z-index: 5;
    box-sizing: border-box;
    box-shadow: 0 2px 9px 0 constants.$black30;
    padding: 6px 48px;
    background-color: white;

    @include constants.mediaTablet {
        display: flex;
        justify-content: space-between;
    }
}


.tm-logo {

}

.tm-logo:before {
    display: flex;
    align-items: center;
    height: 60px;
    position: absolute;
    content: "2024";
    left: 230px;
    top: 10px;
    font-size: 24px;
    font-weight: 700;
    background-color: magenta;
    border-radius: 255px;
}

.menu-header {
    display: flex;
    flex-direction: row;

    @include constants.mediaMobile {
        display: none;
    }
}

.link-header {
    position: relative;
    display: block;
    margin-right: 52px;
    text-decoration: none;
    padding-bottom: 4px;

    color: constants.$blackHeader;

    line-height: 1.2;
    font-size: 18px;
    font-weight: 500;

    overflow: hidden;

    @include constants.mediaMobile {
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: flex-start;
    }


}

.link-header.selected {
    color: constants.$black100;
    @include constants.mediaMobile {
        color: constants.$blackHeader;
    }
}

.link-header::after {
    position: absolute;
    content: "";
    background-color: #FF6B00;
    height: 4px;
    width: 100%;
    left: 0;
    bottom: -4px;
    transition: all 0.2s ease-in-out;
}

.link-header.active::after {
    transform: translateY(-4px);
}

.link-header:hover::after {
    transform: translateY(-4px);

    @include constants.mediaMobile {
        transform: none;
    }

}

.header-burger-button {
    display: none;

    @include constants.mediaMobile {
        display: flex;
    }
}

.mobile-head-menu {
    display: none;
    position: fixed;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 10px;
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    z-index: 2;

    @include constants.mediaMobile {
        display: flex;
    }
}


.modal-back {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    z-index: 1;

    @include constants.mediaMobile {
        display: flex;
    }
}