@use '../../assets/styles/constants';

.footer {
  margin-top: auto;
  background-color: constants.$footerBack;
  border-top: 1px solid constants.$black10;
  padding: 12px 0;
}

.admin-link {
  color: constants.$black80;
  text-decoration: none;
  margin-left: 4px;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "logo socials"
    "contacts socials";

    @include constants.mediaTablet {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "logo"
        "socials"
        "contacts";
      margin-left: 16px;
    }

}

.footer-logo {
  grid-area: logo;
  filter: grayscale(100%);
  height: calc(68px * 0.8);
  width: calc(177px * 0.8);
  margin-bottom: 8px;
}

.footer-contacts {
  grid-area: contacts;
  margin-bottom: 16px;
}

.footer-socials {
  grid-area: socials;
  margin-bottom: 16px;
}

.footer-text {
  display: flex;
  width: 200px;
  color: constants.$black80;
  font-size: 14px;
}
