@use '../../assets/styles/constants';

.footer {
  margin-top: auto;
  background-color: constants.$footerBack;
  border-top: 1px solid constants.$black10;
  padding: 12px 0;

  .content-column {
    padding: 0 16px;
  }
}

.admin-link {
  color: constants.$black80;
  text-decoration: underline;
  margin-left: 4px;
  cursor: pointer;
}

.admin-link:hover {
  text-decoration: underline;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "logo socials"
    "contacts socials";

    @include constants.mediaMobile {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "logo"
        "menu"
        "socials"
        "contacts";
    }

}

.footer-logo {
  grid-area: logo;
  filter: grayscale(100%);
  height: calc(68px * 0.8);
  width: calc(177px * 0.8);
  margin-bottom: 8px;
}

.footer-contacts {
  grid-area: contacts;
  margin-bottom: 16px;
  line-height: 1.4;
  color: constants.$black80;
  font-size: 14px;
}

.footer-email {
  color: constants.$black80;
  margin-left: 6px;
}

.footer-socials {
  grid-area: socials;
  display: flex;
  align-items: center;

  @include constants.mediaMobile {
    margin-bottom: 12px;
  }
}

.footer-admin {
  margin-top: 8px;
}

.mobile-menu-footer {
  display: none;
  grid-area: menu;
  margin-bottom: 20px;
  margin-top: 8px;
  padding-left: 2px;

  @include constants.mediaMobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

}

.link-footer {
  text-decoration: none;
  color: constants.$black80;

  line-height: 1.2;
  font-size: 16px;
  font-weight: 500;

  &+& {
    margin-top: 16px;
  }
}
