@use '../../assets/styles/constants';

.socials {
  display: flex;
  flex-direction: column;
  padding: 0 8px;

  a {
    color: constants.$black80;
    text-decoration: none;
  }
}

.soc {
  display: flex;
  margin-bottom: 4px;
}

.soc-pic {
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.soc-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
