@use 'src/assets/styles/constants';

.page-runner {
    padding: 24px 40px 40px;

    @include constants.mediaMobile {
        padding: 24px 0 40px;
    }
}

.profile-head {
    max-width: 250px;
    margin-bottom: 20px;

    @include constants.mediaMobile {
        padding: 0 16px;
    }

}

.fio-head {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.profile-line {
    display: flex;
    background-color: constants.$black30;
    height: 1px;
}

.profile-block {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    line-height: 16px;
}

.profile-block-label {
    color: constants.$black60;
    font-size: 14px;
    font-weight: 500;
}

.profile-block-data {

}

.runner-teams-desktop {

    @include constants.mediaMobile {
        display: none;
    }
}


.runner-table {
    display: flex;
    flex-direction: column;
    border: 1px solid constants.$black10;
    font-size: 14px;

}

.runner-table-row {
    display: grid;
    grid-template-columns: 12fr 10fr 2fr 10fr 55px 60px 140px 140px 80px;
    row-gap: 1px;
    background-color: constants.$black10;
}

.runner-table-cell {
    display: flex;
    flex-direction: column;
    background-color: constants.$whiteBackground;
    padding: 8px 12px;
}

.runner-table-cell.center {
    align-items: center;
}

.runner-table-head-cell {
    background-color: constants.$black10;
    font-weight: 500;
}

.runner-table-head-row {

}

.runner-table-detail-row {

}

