@use 'src/assets/styles/constants';

.page-runner {
    padding-top: 24px;
}

.profile-head {
    margin-left: 50px;
    max-width: 250px;
    margin-bottom: 20px;

    @include constants.mediaMobile {
        margin-left: 10px;
    }

}

.fio-head {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.profile-line {
    display: flex;
    background-color: lightgrey;
    height: 1px;
    margin-top: 1px;
    margin-bottom: 1px;

}

.profile-block {
    display: flex;
    justify-content: space-between;
}

.profile-block-name {
    color: darkgrey;
    font-size: 14px;
    font-weight: 700;
}

.profile-block-data {

}

.runner-teams-desktop {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;

    @include constants.mediaMobile {
        display: none;
    }
}


.runner-table {
    display: flex;
    flex-direction: column;
    border: 1px solid constants.$black10;
    font-size: 14px;

}

.runner-table-row {
    display: grid;
    grid-template-columns: 12fr 10fr 2fr 10fr 55px 60px 140px 140px 80px;
    row-gap: 1px;
    background-color: constants.$black10;
}

.runner-table-cell {
    display: flex;
    flex-direction: column;
    background-color: constants.$whiteBackground;
    padding: 8px 12px;
}

.runner-table-cell.center {
    align-items: center;
}

.runner-table-head-cell {
    background-color: constants.$black10;
    font-weight: 500;
}

.runner-table-head-row {

}

.runner-table-detail-row {

}

