@use 'src/assets/styles/constants';

.profile-head {
    margin-top: 100px;
    margin-left: 50px;
    max-width: 250px;
    margin-bottom: 20px;
}

.fio-head {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.profile-line {
    display: flex;
    background-color: lightgrey;
    height: 1px;
    margin-top: 1px;
    margin-bottom: 1px;

}

.profile-block {
    display: flex;
    justify-content: space-between;
}

.profile-block-name {
    color: darkgrey;
    font-size: 14px;
    font-weight: 700;
}

.profile-block-data {

}

.runner-teams-desktop {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;

    @include constants.mediaMobile {
        display: none;
    }
}


.runner-table {
    display: flex;
    flex-direction: column;
    border: 1px solid constants.$black10;
    font-size: 14px;

}

.runner-table-row {
    display: grid;
    grid-template-columns: 12fr 10fr 2fr 10fr 55px 60px 140px 140px 80px;
    row-gap: 1px;
    background-color: constants.$black10;
}

.runner-table-cell {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 8px 12px;
}

.runner-table-cell.center {
    align-items: center;
}

.runner-table-head-cell {
    background-color: constants.$black10;
    font-weight: 500;
}

.runner-table-head-row {

}

.runner-table-detail-row {

}

.runner-teams-mobile {
    display: none;

    @include constants.mediaMobile {
        display: block;
    }
}

.run-card-mobile {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 0 8px;
}

.run-card-mobile.odd {
    background-color: #f5f9ff;
}

.run-card-yr-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    background-color: #7bb8e6;
    padding: 6px 0;
    font-weight: 700;

}

.run-card-distance-mobile {
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

.run-card-race-short-name {
    margin-right: 4px;
}

.run-card-results-mobile {
    display: flex;
    align-items: center;
    width: 140px;

}

.run-card-footer-mobile {
    background-color: green;
    height: 20px;
}

.run-card-caption-mobile {
    display: flex;
    justify-content: space-between;
}

.run-card-detail-mobile {
    margin-bottom: 8px;
    margin-left: 10px;
}

.run-card-team-name-mobile {
    font-weight: 700;

}

.run-card-member-mobile {
    margin-left: 6px;
}

.run-card-place-mobile {
    font-size: 16px;
    margin-left: 6px;
    margin-right: 10px;
    width: 30px;
}