@use 'src/assets/styles/constants';

.res-table-desktop {
    display: flex;
    flex-direction: column;
    border: 1px solid #EAECF0;
    font-size: 14px;

    @include constants.mediaMobile {
        display: none;
    }

}

.table-row {
    display: grid;
    grid-template-columns: 4fr 5fr 140px 140px 80px 50px 1fr 120px;
    row-gap: 1px;
}

.table-cell {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 8px 12px;
}

.table-cell.odd {
    background-color: #f5f9ff;
}

.table-head-cell {
    background-color: #EAECF0;
    font-weight: 500;
}

.table-head-row {

}

.table-detail-row {

}

.distance-bar {
    display: flex;
    margin-bottom: 12px;
    margin-left: 12px;

}

.distance-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-bottom: solid;
    padding: 24px 10px;
    margin: 4px 4px;
    font-size: 16px;
    font-weight: 700;
    color: #BBBBBB;
    cursor: pointer;

}

.distance-item.selected {
    font-weight: bold;
    color: #3165C9;
}

.cell-item {
    display: flex;
    align-items: center;
}

.runner-link {
    color: #3165C9;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.dns {
    color: grey;
    text-decoration: line-through;
}

.runner-link:hover {
    color: #264E9B;
}

.dns:hover {
    color: grey;
}

.runner-info {
    margin-left: 4px;
    font-size: 12px;
    align-self: center;
}

.res-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.res-title-name {
    font-weight: 700;
    font-size: 32px;
}

.res-title-info {
    color: #808DA3;
    font-size: 16px;
}


.res-table-mobile {
    display: none;

    @include constants.mediaMobile {
        display: flex;
        flex-direction: column;
    }

}

.mobil-card {
    display: flex;
    background-color: #FFFFFF;
    padding: 4px;

}

.mobil-card+.mobil-card {

}

.mobil-card.odd {
    background-color: #f5f9ff;
}

.mobil-team {
    font-size: 14px;
    flex-grow: 1;

}

.mobil-team-caption {
    font-weight: 700;
    display: flex;
}

.mobil-team-caption p {
    margin: 0;
    margin-left: auto;
}

.mobil-team-member {

}

.mobil-place {
    flex-basis: 20px;
    flex-shrink: 0;

}

.mobil-medal {
    flex-basis: 70px;
    flex-shrink: 0;
}