@use 'src/assets/styles/constants';

.page-race {
    padding-top: 24px;
    padding-bottom: 80px;
}

.res-table-desktop {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid constants.$black5;
    font-size: 14px;

    @include constants.mediaMobile {
        display: none;
    }

}

.table-row {
    display: grid;
    grid-template-columns: 4fr 5fr 140px 140px 80px 60px 1fr 120px;
    row-gap: 1px;
}

.table-cell {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 8px 12px;
}

.table-cell.odd {
    background-color: #f5f9ff;
}

.table-head-cell {
    background-color: constants.$black10;
    font-weight: 500;
}

.table-cell.selected {
    background-color: constants.$rowSelection;
}

.table-head-row {

}

.table-detail-row {

}

.distance-bar {
    display: flex;
    margin-bottom: 24px;
    padding: 0 16px;

    @include constants.mediaMobile {
        margin-bottom: 8px;
    }
}

.distance-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    font-size: 16px;
    font-weight: 700;
    color: constants.$black80;
    cursor: pointer;
    position: relative;

    &+& {
        margin-left: 8px;
    }

    &:after {
        transition: all 0.1s ease-in-out;
        content: "";
        position: absolute;
        height: 2px;
        top: 100%;
        left: 0;
        width: 100%;
        border-radius: 4px;
    }
}

.distance-item.selected {
    color: constants.$blue400;

    &:after {
        background-color: constants.$blue400;
    }
}

.cell-item {
    display: flex;
    align-items: center;
}

.runner-link {
    color: constants.$blue400;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.dns {
    color: grey;
    text-decoration: line-through;
}

.runner-link:hover {
    color: constants.$blue500;
}

.dns:hover {
    color: grey;
}

.runner-info {
    margin-left: 4px;
    font-size: 12px;
    align-self: center;
    color: constants.$black80;
}

.res-head {
    display: flex;
    padding: 0 16px;
    margin-bottom: 16px;

    @include constants.mediaMobile {
        margin-bottom: 20px;
    }
}

.res-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.res-magnet-place {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    height: 96px;
    width: 96px;
}

.race-magnet-image {
    height: 96px;
    width: 96px;
    object-fit: contain;

    @include constants.mediaMobile {
        height: 48px;
        width: 48px;
    }
}

.res-title-name {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 4px;

    @include constants.mediaMobile {
        font-size: 24px;
    }
}

.res-title-info {
    color: #808DA3;
    font-size: 16px;

    @include constants.mediaMobile {
        font-size: 14px;
    }
}


.res-table-mobile-header {
    display: flex;
    font-size: 12px;
    font-weight: 500;
    justify-content: flex-end;
    padding: 4px 0;
    border-bottom: 1px solid constants.$black5;
}

.res-table-mobile-header-time {
    flex-basis: 53px;
}

.res-table-mobile-header-place {
    flex-basis: 60px;
}

.res-table-mobile {
    display: none;

    @include constants.mediaMobile {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid constants.$black5;
    }

}

.mobil-card {
    display: flex;
    background-color: #FFFFFF;
    padding: 6px 12px;
    font-size: 14px;

}

.mobil-card.odd {
    background-color: #f5f9ff;
}

.mobil-card.selected {
    background-color: constants.$rowSelection;
}

.mobil-team {
    flex-grow: 1;
}

.mobil-team-caption {
    font-weight: 700;
    display: flex;
    margin-bottom: 4px;
}

.mobil-team-caption p {
    margin: 0;
    margin-left: auto;
}

.mobil-place {
    flex-basis: 20px;
    flex-shrink: 0;
    margin-left: 16px;

}

.mobil-medal {
    flex-basis: 24px;
    margin-left: 4px;

    .medal {
        width: 24px;
    }
}
