.res-table {
    display: flex;
    flex-direction: column;
    border: 1px solid #EAECF0;
    font-size: 14px;

}

.table-row {
    display: grid;
    grid-template-columns: 10fr 14fr 140px 140px 80px 50px 110px;
    row-gap: 1px;
}

.table-cell {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 8px 12px;
}

.table-cell.odd {
    background-color: #f5f9ff;
}

.table-head-cell {
    background-color: #EAECF0;
    font-weight: 500;
}

.table-head-row {

}

.table-detail-row {

}

.distance-bar {
    display: flex;

}

.distance-item {
    height: 50px;
    border: dashed;

}

.distance-item.selected {
    font-weight: bold;
    color: #3165C9;
}

.runner-item {
    display: flex;
    align-items: center;
}

.runner-link {
    color: #3165C9;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.runner-link.dns {
    color: grey;
    text-decoration: line-through;
}

.runner-link:hover {
    color: #264E9B;
}

.runner-info {
    margin-left: 6px;
    font-size: 12px;
}
