.res-table {
    display: flex;
    flex-direction: column;
    border: 1px solid #EAECF0;
    font-size: 14px;

}

.table-row {
    display: grid;
    grid-template-columns: 4fr 5fr 140px 140px 80px 50px 1fr 100px;
    row-gap: 1px;
}

.table-cell {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 8px 12px;
}

.table-cell.odd {
    background-color: #f5f9ff;
}

.table-head-cell {
    background-color: #EAECF0;
    font-weight: 500;
}

.table-head-row {

}

.table-detail-row {

}

.distance-bar {
    display: flex;
    margin-bottom: 12px;
    margin-left: 12px;

}

.distance-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-bottom: solid;
    padding: 24px 10px;
    margin: 4px 4px;
    font-size: 16px;
    font-weight: 700;
    color: #BBBBBB;
    cursor: pointer;

}

.distance-item.selected {
    font-weight: bold;
    color: #3165C9;
}

.cell-item {
    display: flex;
    align-items: center;
}

.runner-link {
    color: #3165C9;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.dns {
    color: grey;
    text-decoration: line-through;
}

.runner-link:hover {
    color: #264E9B;
}

.dns:hover {
    color: grey;
}

.runner-info {
    margin-left: 4px;
    font-size: 12px;
}
