.res-table {
    display: flex;
    flex-direction: column;
    border: 1px solid #EAECF0;
    font-size: 14px;

}

.table-row {
    display: grid;
    grid-template-columns: 40px 10fr 14fr 140px 140px 80px 110px;
    row-gap: 1px;
    background-color: #EAECF0;
}

.table-cell {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 8px 12px;
    align-items: center;
}

.table-head-cell {
    background-color: #EAECF0;
    font-weight: 500;
}

.table-head-row {

}

.table-detail-row {

}