.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-area {
  height: 100%;
  margin-top: 80px;
  padding: 80px 132px;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}