@use 'src/assets/styles/constants';

.medal {
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    width: 42px;
    color: #FFFFFF;
}

.medal.medal-m {
    color: constants.$blue400;
    font-weight: 700;

}

.medal.medal-zh {
    color: constants.$red500;
    font-weight: 700;
}

.medal.medal-rd {
    color: #FF8718;
    font-weight: 700;
}

.medal.medal-s {
    color: constants.$lightGreen500;
    font-weight: 700;
}